@media screen and (max-width:1395px) {

    .content-right img {
        display: none;

    }

    .content {

        height: 354px;
        margin-top: 33px;
    /* width: 80%; */
    /* margin-left: 8%; */
        display: flex;
        background-image: none;
        text-align:end;
    
    

    }

    .content-left {

        margin-left: 138px;
    }

    .navbar {
        width: 1393px;
        justify-content: center;
        /* text-align: center; */
        /* justify-content: flex-end; */
        margin-left: 1px;
        height: 142px;
        align-items: center;
        background-color: aliceblue;
    }
    #middle2 {
  
        margin-left: 230px;
  
    }


    #left{


        padding-top: 18px;
        padding-left: 57px;
    }

    .content2 {
        background-color: antiquewhite;
        width: 105%;
        margin-left: 0%;
        margin-top: 8px;
    }

    .footer {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: black;
        color: white;
        margin-top: 7%;
        /* position background: fixed; */
        width: 105%;
    }
    
}